In [1]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [2]:
todas_tablas = pd.read_html('https://es.wikipedia.org/wiki/Eurocopa_2024')

In [3]:
# A -> F
# 7 -> 6*8 +7 = 55
todas_tablas[14]
todas_tablas[21]
todas_tablas[28]
todas_tablas[7]

     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0

In [4]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
todas_tablas = pd.read_html('https://es.wikipedia.org/wiki/Eurocopa_2024')
dict_tablas = {}
for letra, i in zip(alfabeto, range(7, 49, 7)):
    df = todas_tablas[i]
    dict_tablas[f'Grupo {letra}'] = df   
    print(dict_tablas)

{'Grupo A':      Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0}
{'Grupo A':      Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0, 'Grupo B':     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   España    0   0   0   0   0   0   0    0
1  Croacia    0   0   0   0   0   0   0    0
2   Italia    0   0   0   0   0   0   0    0
3  Albania    0   0   0   0   0   0   0    0}
{'Grupo A':      Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0, 'Grupo B':     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   España    0   0   0   0   0   0   0    0
1  Croacia    0   0   0   0   0   0   0    0
2   Italia    0   0   0   0   0   0   0    0
3  Albania    0   0   0   0   0   0   0    0, 'Grupo C':        Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   Eslovenia    0   0   0   0   0   0   0    0
1   Dinamarca    0   0   0   0   0   0   0    0
2      Serbia    0   0   0   0   0   0   0    0
3  Inglaterra    0   0   0   0   0   0   0    0}
{'Grupo A':      Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0, 'Grupo B':     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   España    0   0   0   0   0   0   0    0
1  Croacia    0   0   0   0   0   0   0    0
2   Italia    0   0   0   0   0   0   0    0
3  Albania    0   0   0   0   0   0   0    0, 'Grupo C':        Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   Eslovenia    0   0   0   0   0   0   0    0
1   Dinamarca    0   0   0   0   0   0   0    0
2      Serbia    0   0   0   0   0   0   0    0
3  Inglaterra    0   0   0   0   0   0   0    0, 'Grupo D':            Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Ganador Ruta A    0   0   0   0   0   0   0    0
1    Países Bajos    0   0   0   0   0   0   0    0
2         Austria    0   0   0   0   0   0   0    0
3         Francia    0   0   0   0   0   0   0    0}
{'Grupo A':      Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0, 'Grupo B':     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   España    0   0   0   0   0   0   0    0
1  Croacia    0   0   0   0   0   0   0    0
2   Italia    0   0   0   0   0   0   0    0
3  Albania    0   0   0   0   0   0   0    0, 'Grupo C':        Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   Eslovenia    0   0   0   0   0   0   0    0
1   Dinamarca    0   0   0   0   0   0   0    0
2      Serbia    0   0   0   0   0   0   0    0
3  Inglaterra    0   0   0   0   0   0   0    0, 'Grupo D':            Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Ganador Ruta A    0   0   0   0   0   0   0    0
1    Países Bajos    0   0   0   0   0   0   0    0
2         Austria    0   0   0   0   0   0   0    0
3         Francia    0   0   0   0   0   0   0    0, 'Grupo E':            Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0         Bélgica    0   0   0   0   0   0   0    0
1      Eslovaquia    0   0   0   0   0   0   0    0
2         Rumania    0   0   0   0   0   0   0    0
3  Ganador Ruta B    0   0   0   0   0   0   0    0}
{'Grupo A':      Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0, 'Grupo B':     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   España    0   0   0   0   0   0   0    0
1  Croacia    0   0   0   0   0   0   0    0
2   Italia    0   0   0   0   0   0   0    0
3  Albania    0   0   0   0   0   0   0    0, 'Grupo C':        Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   Eslovenia    0   0   0   0   0   0   0    0
1   Dinamarca    0   0   0   0   0   0   0    0
2      Serbia    0   0   0   0   0   0   0    0
3  Inglaterra    0   0   0   0   0   0   0    0, 'Grupo D':            Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Ganador Ruta A    0   0   0   0   0   0   0    0
1    Países Bajos    0   0   0   0   0   0   0    0
2         Austria    0   0   0   0   0   0   0    0
3         Francia    0   0   0   0   0   0   0    0, 'Grupo E':            Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0         Bélgica    0   0   0   0   0   0   0    0
1      Eslovaquia    0   0   0   0   0   0   0    0
2         Rumania    0   0   0   0   0   0   0    0
3  Ganador Ruta B    0   0   0   0   0   0   0    0, 'Grupo F':             Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0          Turquía    0   0   0   0   0   0   0    0
1   Ganador Ruta C    0   0   0   0   0   0   0    0
2         Portugal    0   0   0   0   0   0   0    0
3  República Checa    0   0   0   0   0   0   0    0}

In [11]:
dict_tablas['Grupo A']

     Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Alemania    0   0   0   0   0   0   0    0
1   Escocia    0   0   0   0   0   0   0    0
2   Hungría    0   0   0   0   0   0   0    0
3     Suiza    0   0   0   0   0   0   0    0

In [12]:
dict_tablas['Grupo B']

    Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   España    0   0   0   0   0   0   0    0
1  Croacia    0   0   0   0   0   0   0    0
2   Italia    0   0   0   0   0   0   0    0
3  Albania    0   0   0   0   0   0   0    0

In [13]:
dict_tablas['Grupo C']

       Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0   Eslovenia    0   0   0   0   0   0   0    0
1   Dinamarca    0   0   0   0   0   0   0    0
2      Serbia    0   0   0   0   0   0   0    0
3  Inglaterra    0   0   0   0   0   0   0    0

In [14]:
dict_tablas['Grupo D']

           Equipo  Pts  PJ  PG  PE  PP  GF  GC  Dif
0  Ganador Ruta A    0   0   0   0   0   0   0    0
1    Países Bajos    0   0   0   0   0   0   0    0
2         Austria    0   0   0   0   0   0   0    0
3         Francia    0   0   0   0   0   0   0    0

In [7]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_tablas, output)

In [8]:
from bs4 import BeautifulSoup
!pip3 install requests
import requests

Requirement already satisfied: requests in c:\users\niki0\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\niki0\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\niki0\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\niki0\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\niki0\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [9]:
years = [1960,
        1964,
        1968,
        1972,
        1976,
        1980,
        1984,
        1988,
        1992,
        1996,
        2000,
        2004,
        2008,
        2012,
        2016,
        2020,
        2024,
]


def get_matches(year):
    
    web = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response = requests.get(web)
    content = response.text
    soup = BeautifulSoup(content, 'lxml')
    matches = soup.find_all('div', class_='footballbox')

    home = []
    score = []
    away = []

    for match in matches:
        home.append(match.find('th', class_='fhome').get_text())
        score.append(match.find('th', class_='fscore').get_text())
        away.append(match.find('th', class_='faway').get_text())

    dict_football = {'home': home, 'score': score, 'away': away}
    df_football = pd.DataFrame(dict_football)
    df_football['year'] = year
    
    return df_football

fifa = [get_matches(year) for year in years]

df_fifa = pd.concat(fifa, ignore_index=True)
worldcup = df_fifa.to_csv('fifa_worldcup_historial_data.csv', index=False)